<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <div (click)="viewFullDeck()" *ngIf="nameDeck != ''" class = "card">
    <img src="../../../assets/carta-costas.jpg" alt="">
    <div class="card-content font-bold">
      <h2>
        {{nameDeck}}
      </h2>
      <a  (click)="viewFullDeck()" class="button">
        Detalhes do deck
        <span class="material-symbols-outlined">
          arrow_right_alt
        </span>
      </a>
    </div>
  </div>
</main>