<div class="flex-row items-center justify-center bg-transparent">
    <img [src]="data.img" alt="">

    <div class="btns p-2 flex items-center justify-around" style="background-color: #fcea69;">
        <button (click)="addCard()" style="color: white; background-color:green;" mat-mini-fab  aria-label="Example icon button with a bookmark icon">
            <mat-icon>add</mat-icon>
        </button> 
        <button mat-mini-fab mat-dialog-close="" style="background-color: red; color: white;" aria-label="Example icon button with a bookmark icon">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

