
<video id="video-background">
    <source src="../../../assets/pfhd.mp4" type="video/mp4">
</video>
<div class="flex items-center justify-center h-screen ">
    <div class="flex space-x-4 justify-center bg-white p-8 shadow-md rounded-md menu">
        <div class="logo">
            <img src="../../../assets/title.png" alt="">
        </div>
        <div class="btns">
            <button (click)="openMyDecks()" mat-raised-button>Meus Decks <mat-icon aria-hidden="false" fontIcon="view_carousel"></mat-icon></button>
            <button (click)="openNew()" mat-raised-button>Criar Deck <mat-icon aria-hidden="false" fontIcon="add"></mat-icon></button>
        </div>
    </div>
  </div>
