.scroll {
    max-height: 60%; 
    overflow-y: auto; 
    margin-bottom: 20px;
  }
  
.card{
    height: 260px;
    margin-bottom: 3rem;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
.mat-table {
    background-color: transparent;
  }

