<video id="video-background" autoplay muted loop playsinline>
  <source src="../../../assets/pfhd.mp4" type="video/mp4">
</video>
<!-- 
<div class="flex items-center justify-center">
  <mat-spinner *ngIf="spinner"></mat-spinner> -->
  <div class="flex items-center justify-center  ">
    <div class="flex space-x-4 justify-center p-8">
      <div class="scroll">
        <table  *ngIf="!spinner" mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">
        
          <!-- Position Column -->
          <ng-container  matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (click)="addCard(element)" mat-cell *matCellDef="let element"> <img class="card" [src]="element.images?.small" alt=""> </td>
          </ng-container>
        
          <ng-container  matColumnDef="position2">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (click)="addCard(element)" mat-cell *matCellDef="let element"> <img class="card" [src]="element.images?.small" alt=""> </td>
          </ng-container>
        
          <ng-container  matColumnDef="position4">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (click)="addCard(element)" mat-cell *matCellDef="let element"> <img class="card" [src]="element.images?.small" alt=""> </td>
          </ng-container>
        
          <ng-container  matColumnDef="position5">
            <th mat-header-cell *matHeaderCellDef></th>
            <td (click)="addCard(element)" mat-cell *matCellDef="let element"> <img class="card" [src]="element.images?.small" alt=""> </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
      </div>
      <div  *ngIf="!spinner" style="height: 300px;" class="info-deck bg-white p-8 shadow-md rounded-md">
        <mat-form-field>
          <mat-label>Nome do Deck</mat-label>
          <input  matInput placeholder="Nome do Deck" #input>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Filtrar  Carta</mat-label>
          <input  matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
        </mat-form-field> 
        <h3>Cartas Adicionadas: {{contadorCards}}</h3>
        <button style="background-color: #004a94; color: white;" mat-raised-button>Salvar Deck <mat-icon aria-hidden="false" fontIcon="add_circle"></mat-icon></button>
    </div>
      
    </div>
  </div>
  




<!-- </div> -->
  
    
